body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Acme", sans-serif;
  font-size: 1.6vw;
  height: 100vh;
  overflow: hidden;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background: rgb(0, 199, 236);
  background: linear-gradient(
    196deg,
    rgba(0, 139, 236, 1) 0%,
    rgba(230, 6, 236, 1) 45%,
    rgba(6, 192, 236, 1) 91%
  );
  background-size: 300%;
  animation: move 8s alternate infinite linear;
}
@keyframes move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
  }
}
h2 {
  text-align: center;
  color: white;
  user-select: none;
}
main {
  margin: auto;
  position: relative;
  width: 45%;
  height: 50vh;
  background-color: #fff4;
  border-radius: 2rem;
  backdrop-filter: blur(50px);
}
#form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
input {
  margin-top: 10%;
  border: none;
  width: 15.5vw;
  height: 4vh;
  border-radius: .5rem;
  font-size: 1.2vw;
  caret-color: violet;
  color: rgb(132, 7, 177);
}
input:focus {
  outline: none;
}
::placeholder {
  color: violet;
}
button {
  border: none;
  border-radius: 1rem;
  width: 5.5vw;
  height: 4vh;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  cursor: pointer;
  font-family: "Acme", sans-serif;
  font-size: 1.5vw;
  user-select: none;
}
#infos {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  height: 70%;
  color: #fff8;
  font-size: 1.2vw;
}
#options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3% 1%;
  width: 25%;
  padding: 2%;
  gap: 3%;
  border: 1px solid #fff7;
  border-radius: 0.7rem;
}
#options div {
  transition: 0.8s;
  opacity: 0;
  user-select: none;
  animation: appear 1s 1s forwards;
}
@keyframes appear {
  to {
    opacity: 1;
  }
}
.active {
  color: white;
}
#options div:hover {
  color: white;
}
#output {
 text-align: center;
  align-self: center;
  margin: 3% 1%;
  padding: 3%;
  min-width: 65%;
  max-width: 70%;
  height: fit-content;
  font-size: 1.4vw;
  border-radius: 0.7rem;
  color: white;
  transform: rotateY(-90deg);
  border: 1px solid #fff7;
}
.input {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform:translate(-50%) ;
  width: fit-content;
  font-size: 1.6vw;
  color: white;
  -webkit-transform:translate(-50%) ;
  -moz-transform:translate(-50%) ;
  -ms-transform:translate(-50%) ;
  -o-transform:translate(-50%) ;
}

@keyframes flow {
  to {
    transform: rotateY(0deg);
  }
}
.output {
  animation: flow 2.5s forwards;
}
